<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Me</title>
    {% include 'style.html' %}
</head>

<body>
    {% include 'navigation.html' %}
    <!-- Welcome or brief introduction can be placed here if you wish -->
    <div class="container">
        <h2>Contact Me</h2>
        <p>Thank you for your interest in reaching out! Whether you have questions, collaboration ideas, or just want to say hello, I'd be happy to hear from you.</p>
        
        <h3>Ways to Connect</h3>
        <ul>
            <li><strong>Email:</strong> <a href="mailto:rasiulyte@gmail.com">rasiulyte@gmail.com</a></li>
            <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/rasiulyte/" target="_blank">linkedin.com/in/rasiulyte</a></li>
        </ul>
    </div>
    

</body>
</html>
