<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rasa Rasiulyte's Portfolio</title>
    {% include 'style.html' %}
</head>

<body>
    {% include 'navigation.html' %}

    <!-- Welcome or brief introduction can be placed here if you wish -->
    <div class="container">
        <h2>Welcome to My Portfolio</h2>
        <p>Here, you can explore more about my experiences, my skills, and the projects I've worked on. Please navigate using the links above to learn more!</p>
    </div>

</body>
</html>
