<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    {% include 'style.html' %}
</head>

<body>
    {% include 'navigation.html' %}
    <!-- Welcome or brief introduction can be placed here if you wish -->
    <div class="container">
        <div class="project-links">
            <!-- Inside your .container div -->
            <div class="project-links">
                <div class="project-link">
                    <a href="static/ipynbs/Rasiulyte_Assign3.html" target="_blank">
                        <img src="static/images/suicide.jpg" alt="Suicide Rates Project">
                        <span class="project-text">Suicide Rates Project</span>
                    </a>
                </div>
                <div class="project-link">
                    <a href="static/ipynbs/Rasiulyte_Assign4.html" target="_blank">
                        <img src="static/images/titanic.jpg" alt="Titanic Survivors Project">
                        <span class="project-text">Titanic Survivors Project</span>
                    </a>
                </div>
                <div class="project-link">
                    <a href="static/ipynbs/Rasiulyte_Assign9.html" target="_blank">
                        <img src="static/images/alice.jpg" alt="Alice in Wonderland Words Project" width="400px" height="400px">
                        <span class="project-text">Alice in Wonderland Words Project</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
